node_modules/
Pods/
.build/
build/
DerivedData/
.DS_Store
dist/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
.swiftpm/
FloraAmazonica-FrontendWeb/public/video2.mp4
flora_amazonica_ios/flora_amazonica_ios/Resources/Videos/login_fondo_2.mp4
